.card-principal {
  @include flexCenter();
  background: url("../img/background-principal/background-principal.png") center
    top repeat-x;

  .texto-imagem-central {
    padding-top: 12px;
    padding-bottom: 22px;
    width: 230px;
    height: 20px;
    text-align: center;
    font: normal normal bold 15px/18px Open Sans;
    letter-spacing: 0px;
    color: #ffffff;
  }

  .imagem-fundo {
    background: url("../img/imagem-card-principal/background-card-principal.svg")
      no-repeat transparent padding-box center;
    height: 1080px;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    box-shadow: 0px 3px 6px #00000099;
    opacity: 1;
  }

  .conteudo-apos-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .texto-apos-imagem {
    width: 271px;
    height: 100%;
    padding-top: 28px;
    padding-bottom: 14px;
    font: normal normal normal 20px/21px Open Sans;
    letter-spacing: 0px;
    color: #f0f0f2;
    text-shadow: 0px 3px 6px #00000029;
    opacity: 1;
  }

  @media (min-width: 360px) {
    .imagem-card-meio {
      width: 280px;
    }

    .imagem-fundo {
      height: 700px;
    }
  }

  @media (min-width: 576px) {
    .texto-apos-imagem {
      font-size: 18px;
    }

    .imagem-card-meio {
      width: 320px;
    }
  }

  @media (min-width: 768px) {
    .imagem-card-meio {
      width: 350px;
    }
  }

  @media (min-width: 992px) {
    .imagem-card-meio {
      width: 380px;
    }
  }
}

.seta-apos-mouse {
  @include flexCenter();
  color: #ffffff;
  margin-top: -5px;
  margin-bottom: 45px;
}

.mouse-meio-card {
  margin-top: -15px;
  display: flex;
  justify-content: center;

  .imagem-mouse {
    background-color: #ffffff;
    border-radius: 28px;
    height: 26px;
    width: 24px;
  }
}
