.segundo-conteudo {
  height: 1147px;
  opacity: 1;

  .card {
    background: #ffffff;
    box-shadow: 0px 3px 6px #ffffff63;
    height: 650px;
    border-radius: 27px;
    flex-direction: column;
    margin: 30px;
  }

  .background-item-personas {
    @include flexCenter();
  }

  .item-meio {
    @extend .card;
    border-radius: 31px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .imagem-personas {
    box-shadow: 0px 2px 6px #ffffff;
    border-radius: 99px;
    border: #ffffff;
    height: 525px;
    margin-top: -150px;
    background-color: #363636;
  }

  .texto-depois-imagem {
    width: 326px;
    height: 153px;
    padding-left: 36px;
    padding-right: 24.5px;
  }

  .texto-personas {
    text-align: left;
    font: normal normal normal 20px/25px Open Sans;
    letter-spacing: 0px;
    color: #363636;
  }

  @media (max-width: 575px) and (min-width: 2px) {
    .imagem-personas {
      width: 140px;
      height: 200px;
    }

    .texto-depois-imagem {
      margin-top: 10px;
      width: 220px;
    }
  }

  /*@media (max-width: 576px) {
    .imagem-personas {
      height: 350px;
    }
  }*/

  @media (max-width: 768px) {
    .texto-depois-imagem {
      width: 216px;
      height: 216px;
    }
  }
}
