.segundo-conteudo {
  @include flexCenter();
  opacity: 1;
  padding-bottom: 250px;

  .conteudo-carrossel {
    width: 820px;
    justify-content: space-between;
  }

  .card {
    background: #ffffff;
    box-shadow: 0px 3px 6px #ffffff63;
    border-radius: 27px;
    margin: 30px;
  }

  .background-item-personas {
    @include flexCenter();
    margin-top: -75px;
  }

  .imagem-personas {
    box-shadow: 0px 2px 6px #ffffff;
    border-radius: 40px;
    border: #ffffff;
    width: 200px;
    background-color: #363636;
  }

  .texto-depois-imagem {
    margin: 15px;
  }

  .texto-personas {
    text-align: left;
    font: normal normal normal 15px/20px Open Sans;
    letter-spacing: 0px;
    color: #363636;
  }

  @media (max-width: 575px) and (min-width: 2px) {
    .imagem-personas {
      width: 140px;
      height: 200px;
    }

    .texto-depois-imagem {
      margin-top: 10px;
      width: 220px;
    }
  }

  @media (max-width: 576px) {
    .card {
      height: 500px;
      margin-bottom: 160px;
    }
  }
}
