.background-form {
  @include flexCenter();
  height: 650px;
  background: linear-gradient(143deg, #7dede2 0%, #58b790 100%) 0% 0% no-repeat
    padding-box;

  .background-branco-form {
    width: 1082px;
    height: 750px;
    background: #ffffff no-repeat padding-box;
    box-shadow: 0px 0px 6px #0000004d;
  }

  .frases-formulario {
    @include flexCenter();
    flex-direction: column;
  }

  h1 {
    text-align: center;
    font: normal normal bold 35px/46px Montserrat;
    letter-spacing: -0.88px;
    color: #63c7a9;
    padding-top: 82px;
  }

  p {
    width: 746px;
    height: 77px;
    text-align: left;
    font: normal normal normal 20px/21px Open Sans;
    letter-spacing: 0px;
    color: #363636;
  }

  form {
    @include flexCenter();
    ::placeholder {
      font: normal normal normal 18px/30px Open Sans;
      letter-spacing: 0px;
      color: #363636;
      text-transform: capitalize;
    }
    height: 48px;
  }

  .text-area-from {
    @include flexCenter();
    height: 197px;

    .form-control-text {
      width: 430px;
      @extend .text-area-from;
    }
  }

  .form-control {
    border: 1px solid #363636;
  }

  .botao-apos-form {
    padding-top: 41px;
    padding-left: 324px;
  }

  .btn {
    width: 249px;
    height: 48px;
    background: #63c7a9 0% 0% no-repeat padding-box;
    text-align: center;
    font: normal normal normal 18px/30px Open Sans;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
  }

  @media (min-width: 2px) and (max-width: 575px) {
    .background-form {
      width: 900px;
    }
    .background-branco-form {
      width: 280px;
    }
    h1 {
      font-size: 15px;
    }

    p {
      font-size: 12px;
      width: 200px;
    }

    form {
      padding-top: 120px;
      margin: 5px;
      padding-bottom: 35px;
    }

    .text-area-from {
      margin: 10px;
      display: flex;
      align-items: center;
      width: 250px;
    }

    .botao-apos-form {
      padding-top: 0px;
      padding-left: 15px;
    }
  }

  @media (min-width: 576px) and (max-width: 768px) {
    .background-form {
      width: 790px;
    }

    .background-branco-form {
      width: 490px;
    }

    h1 {
      font-size: 25px;
    }

    p {
      font-size: 20px;
      width: 400px;
    }
    form {
      padding-top: 90px;
      margin: 5px;
    }
    .text-area-from {
      margin: 25px;
      display: flex;
      align-items: center;
    }

    .botao-apos-form {
      padding-top: 0px;
      padding-left: 50px;
    }
  }
}
