header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

header .name-header {
  margin: 0;
  width: 16rem;
  height: 2rem;
  font: normal normal bold 23px/36px Montserrat;
  letter-spacing: 0.68px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}

@media (max-width: 576px) {
  header .name-header {
    font-size: 20px;
  }
}

.card-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/background-principal/background-principal.png") center top repeat-x;
}

.card-principal .texto-imagem-central {
  padding-top: 12px;
  padding-bottom: 22px;
  width: 230px;
  height: 20px;
  text-align: center;
  font: normal normal bold 15px/18px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
}

.card-principal .imagem-fundo {
  background: url("../img/imagem-card-principal/background-card-principal.svg") no-repeat transparent padding-box center;
  height: 1080px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 1;
  -webkit-box-shadow: 0px 3px 6px #00000099;
          box-shadow: 0px 3px 6px #00000099;
  opacity: 1;
}

.card-principal .conteudo-apos-imagem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-principal .texto-apos-imagem {
  width: 271px;
  height: 100%;
  padding-top: 28px;
  padding-bottom: 14px;
  font: normal normal normal 20px/21px Open Sans;
  letter-spacing: 0px;
  color: #f0f0f2;
  text-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

@media (max-width: 575px) and (min-width: 2px) {
  .card-principal .imagem-card-meio {
    width: 280px;
  }
  .card-principal .imagem-fundo {
    height: 700px;
  }
}

@media (min-width: 576px) {
  .card-principal .texto-apos-imagem {
    font-size: 18px;
  }
  .card-principal .imagem-card-meio {
    width: 320px;
  }
}

@media (min-width: 768px) {
  .card-principal .imagem-card-meio {
    width: 350px;
  }
}

@media (min-width: 992px) {
  .card-principal .imagem-card-meio {
    width: 380px;
  }
}

.seta-apos-mouse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  margin-bottom: 200px;
}

.mouse-meio-card {
  margin-top: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mouse-meio-card .mouse-meio-card--mouse {
  width: 29px;
  height: 48px;
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 124px;
  opacity: 1;
  position: relative;
}

.mouse-meio-card span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 124px;
  width: 3px;
  height: 7px;
  margin: 10px auto 0;
}

.segundo-conteudo {
  opacity: 1;
  padding-bottom: 250px;
}

.segundo-conteudo .card, .segundo-conteudo .item-meio {
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 6px #ffffff63;
          box-shadow: 0px 3px 6px #ffffff63;
  height: 650px;
  border-radius: 27px;
  margin: 30px;
}

.segundo-conteudo .background-item-personas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.segundo-conteudo .item-meio {
  border-radius: 31px;
  margin-right: 20px;
  margin-left: 20px;
}

.segundo-conteudo .imagem-personas {
  -webkit-box-shadow: 0px 2px 6px #ffffff;
          box-shadow: 0px 2px 6px #ffffff;
  border-radius: 99px;
  border: #ffffff;
  height: 525px;
  margin-top: -150px;
  background-color: #363636;
}

.segundo-conteudo .texto-depois-imagem {
  width: 326px;
  height: 153px;
  padding-left: 36px;
  padding-right: 24.5px;
}

.segundo-conteudo .texto-personas {
  text-align: left;
  font: normal normal normal 20px/25px Open Sans;
  letter-spacing: 0px;
  color: #363636;
}

@media (max-width: 575px) and (min-width: 2px) {
  .segundo-conteudo .imagem-personas {
    width: 140px;
    height: 200px;
  }
  .segundo-conteudo .texto-depois-imagem {
    margin-top: 10px;
    width: 220px;
  }
}

@media (max-width: 576px) {
  .segundo-conteudo .card, .segundo-conteudo .item-meio {
    height: 500px;
    margin-bottom: 160px;
  }
}

@media (max-width: 768px) {
  .segundo-conteudo .texto-depois-imagem {
    width: 216px;
    height: 216px;
  }
}

.background-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 650px;
  background: linear-gradient(143deg, #7dede2 0%, #58b790 100%) 0% 0% no-repeat padding-box;
}

.background-form .background-branco-form {
  width: 1082px;
  height: 750px;
  background: #ffffff no-repeat padding-box;
  -webkit-box-shadow: 0px 0px 6px #0000004d;
          box-shadow: 0px 0px 6px #0000004d;
}

.background-form .frases-formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.background-form h1 {
  border-radius: 2px;
  text-align: center;
  font: normal normal bold 35px/46px Montserrat;
  letter-spacing: -0.88px;
  color: #63c7a9;
  padding-top: 82px;
}

.background-form p {
  width: 746px;
  height: 77px;
  text-align: left;
  font: normal normal normal 20px/21px Open Sans;
  letter-spacing: 0px;
  color: #363636;
}

.background-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 165px;
  height: 48px;
}

.background-form form ::-webkit-input-placeholder {
  font: normal normal normal 18px/30px Open Sans;
  letter-spacing: 0px;
  color: #363636;
  text-transform: capitalize;
}

.background-form form :-ms-input-placeholder {
  font: normal normal normal 18px/30px Open Sans;
  letter-spacing: 0px;
  color: #363636;
  text-transform: capitalize;
}

.background-form form ::-ms-input-placeholder {
  font: normal normal normal 18px/30px Open Sans;
  letter-spacing: 0px;
  color: #363636;
  text-transform: capitalize;
}

.background-form form ::placeholder {
  font: normal normal normal 18px/30px Open Sans;
  letter-spacing: 0px;
  color: #363636;
  text-transform: capitalize;
}

.background-form .text-area-from, .background-form .text-area-from .form-control-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 197px;
  margin: 35px;
}

.background-form .text-area-from .form-control-text {
  width: 430px;
}

.background-form .form-control {
  border: 1px solid #363636;
}

.background-form .botao-apos-form {
  padding-top: 41px;
  padding-left: 324px;
}

.background-form .btn {
  width: 249px;
  height: 48px;
  background: #63c7a9 0% 0% no-repeat padding-box;
  text-align: center;
  font: normal normal normal 18px/30px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: 2px) and (max-width: 575px) {
  .background-form .background-form {
    width: 900px;
  }
  .background-form .background-branco-form {
    width: 280px;
  }
  .background-form h1 {
    font-size: 15px;
  }
  .background-form p {
    font-size: 12px;
    width: 200px;
  }
  .background-form form {
    padding-top: 250px;
    margin: 5px;
    padding-bottom: 35px;
  }
  .background-form .text-area-from, .background-form .text-area-from .form-control-text {
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 250px;
  }
  .background-form .botao-apos-form {
    padding-top: 0px;
    padding-left: 15px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .background-form .background-form {
    width: 790px;
  }
  .background-form .background-branco-form {
    width: 490px;
  }
  .background-form h1 {
    font-size: 25px;
  }
  .background-form p {
    font-size: 20px;
    width: 400px;
  }
  .background-form form {
    padding-top: 250px;
    margin: 5px;
  }
  .background-form .text-area-from, .background-form .text-area-from .form-control-text {
    margin: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .background-form .botao-apos-form {
    padding-top: 0px;
    padding-left: 50px;
  }
}

.footer {
  height: 320px;
}

.footer a {
  color: black;
}

.footer .back-to-top {
  background-color: #ffffff;
  border-radius: 65px;
  bottom: 14px;
  -webkit-box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  height: 107px;
  position: fixed;
  right: 22px;
  width: 107px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background: #363636;
}

/*
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
*/
/*# sourceMappingURL=styles.css.map */