@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import "./navbar";
@import "./cardPrincipal";
@import "./cardsPrincipais";
@import "./formulario";

body {
  background: #363636;
}

/*
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
*/
